.container {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 10px;
  border-radius: 50%;
}

.text {
  margin-right: 25px;

  font-weight: 600;
  font-size: 30px;

  color: #376e6f;
}
